.footer {
  margin-top: auto;
  //padding: 20px;
  background-color: #FFFFFF;
  //background-image: linear-gradient(180deg, #ece9e6 0%, #ffffff 100%);
  opacity: 1;
  font-family: Open Sans, sans-serif;
  font-weight: 300;

  .company-name {
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
    color: #000;
    font-family: Open Sans, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    .content-left {

      .content-left-item {
        margin-top: 10px;
      }

    }

    .content-right {
      width: 50%;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
      .content-right-first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .content-right-item {
          margin-top: 10px;

          .title {
            color: #000;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .description {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }


        }
      }

      .content-right-second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .content-right-item {
          margin-top: 10px;

          .title {
            color: #000;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .description {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }


        }
      }

    }
  }

  .footer-copy-right{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
   .line{
     height: 1px;
     width: 100%;
     opacity: 0.10000000149011612;
     background: #000;
   }
    .description{
      margin-top: 5px;
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}
