@font-face {
    font-family: 'UTM Aptima';
    src: url(fonts/aptimaItalic/UTM-Aptima.ttf) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'UTM Aptima';
    src: url(fonts/aptimaItalic/UTM-AptimaBold.ttf) format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'UTM Aptima';
    src: url(fonts/aptimaItalic/UTM-AptimaItalic.ttf) format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'UTM Aptima';
    src: url(fonts/aptimaItalic/UTM-AptimaBoldItalic.ttf) format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url(fonts/googleSans/GoogleSans-Regular.ttf) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Google Sans';
    src: url(fonts/googleSans/GoogleSans-Bold.ttf) format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Google Sans';
    src: url(fonts/googleSans/GoogleSans-Italic.ttf) format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Google Sans';
    src: url(fonts/googleSans/GoogleSans-BoldItalic.ttf) format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Zierde Grotesk';
    src: url(fonts/ZierdeGrotesk/ZierdeGrotesk-Regular.ttf) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Zierde Grotesk';
    src: url(fonts/ZierdeGrotesk/ZierdeGrotesk-Bold.ttf) format('woff2');
    font-weight: 700;
    font-style: normal;
}
